<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    
   <% include ./partials/head %>

    <link rel="icon" href="logo.jpg" />
    <title>Reset Password</title>
  </head>
  <body class="loginBody">
  <% include ./partials/adminheader %>
    <div class="col-sm-12 font tColorWhite">
      <div class="col-sm-12 height11"></div>
      <div class="col-sm-12"></div>
      
      <!-- otp form -->
      <div class="col-sm-5 col-md-offset-5 width38 hide" id="resetmsg"><span>Your Password reset successfully</span></div>
      <div id="resetForm">
      <form name="resetPasswordForm" id="resetPasswordForm" method="post">
        <div class="col-sm-7  col-md-offset-5 resetPasswordHead"><span>Reset Password</span></div>
        <div class="col-sm-7 mLeft38 font tColorWhite">
            <div class="col-sm-6  paddingLeft0">
            <div class="col-sm-12"><span>Password</span></div>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div> 
                <input id="resetPassword" type="password" name="resetPassword" class="form-control "/>
              </div>
            </div>
              <div class="col-sm-12  paddingLeft0">
                <div class="col-sm-12">
                  <span class="error" id="errorresetPassword"></span>
                  </div>
              </div>
             <div class="col-sm-12 height11"></div>
              <div class="col-sm-12 height11"></div>
              <div class="col-sm-12"><span>Confirm Password</span></div>
              <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div> 
                <input id="resetConfirmPassword" type="password" name="resetConfirmPassword" class="form-control " />
              </div>
            </div>
                <div class="col-sm-12 paddingLeft0">
                <div class="col-sm-12">
                  <span class="error" id="errorConirmResetPassword"></span>
                  </div>
              </div>
            </div>
            <div class="col-sm-12 height11"></div>
          <div class="col-sm-12 height11"></div>
           <div class="col-sm-12 height11"></div>
          <div class="col-sm-3 mLeft12 paddingLeft0 paddingRight0">
            <div class="col-sm-12">
              <input type="button" class="btn btn-primary form-control" id="resetPasswordBtn" name="otpVerifyBtn" value="Reset" onclick="confirmResetPassowrd();" />
            </div>
          </div>
          <div class="col-sm-12"></div>
          <div class="col-sm-6  paddingLeft0">
            <div class="col-sm-12">
              <span class="error" id="errorResetPassword"></span>
              <span class="success" id="successResetPassword"></span>
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="col-sm-5 mLeft62 mTop-10 tColorBlue width38"><span id="loading"><i class="fa-li fa fa-spinner fa-spin fa-10x"></i></span></div>
    </div>

    <!-- Logout modal  -->
    <div id="logoutConfirm" style="display: none;">
      <div class="col-sm-12 tAlignCenter bColorCCC lineHeight41 font">
        <span>Confirm Logout</span>
      </div>
      <div class="col-sm-12">
       <form name="modalForgetEmail" id="modalForgetEmail" method="get" action="logout">
        <div class="col-sm-12 height25"></div>
        <div class="col-sm-12 font">
          <div class="col-sm-12"><span>Are you sure you want to logout...</span></div>
          <div class="col-sm-12"><span>You are just a step away from getting in.</span></div>
        </div>
        <div class="col-sm-12 height20"></div>
        <div class="col-sm-12 font">
          <div class="col-sm-5 col-sm-offset-1">
            <input type="submit" class="btn btn-primary form-control" id="frogetBtn" name="Submit" value="LogOut" />
          </div>
          <div class="col-sm-5">
            <input type="button" class="btn btn-warning form-control" value="Cancel" onclick="closeModal('#logoutModalClose');">
            <span class="hide"><a id="logoutModalClose" rel="modal:close" href="#">Cancel</a></span>
          </div>
        </div>
        <div class="col-sm-12 height25"></div>
        </form>
      </div>
    </div>  
    <% include ./partials/footer %>
    <script>
       $(document).ready(function() {
        $('#resetPassword_Id').addClass('hide');
         <%if(session.otp!==null){%>
          $("#loading").hide();
          <%}%>   
      
      });
      var confirmpassword = function(password, confirmpassword) {
        if (password === confirmpassword) {
          return true;
        } else {
          return false;
        }
      }
       var passwordValidate = function(password) {
        if(password.length < 6 || password.length > 15){
          return false;
        }
        else{
          return true;
        }
      }
      var confirmResetPassowrd = function () {
       var resetPassword= $('#resetPassword').val().trim();
       var confirmresetPassword = $('#resetConfirmPassword').val().trim();
        $('#errorresetPassword').text('');
        $('#errorConirmResetPassword').text('');
        $('#errorResetPassword').text('');
       if(resetPassword == '') {
        $('#errorresetPassword').text('Enter password');
        return false;
       } else if ( resetPassword !== '' && (!(passwordValidate(resetPassword))) ) {
         $('#errorresetPassword').text('Atleast 6 and maximum 15 characters');
         return false;
       } 
       else if(confirmresetPassword == '') {
         $('#errorConirmResetPassword').text('Enter confirm password');
        return false;
       } else if ( !(confirmpassword(resetPassword,confirmresetPassword)) ) {
         $('#errorConirmResetPassword').text('Password not matched');
       }
       else {
        $('#resetPasswordBtn').attr('disabled');
        $.ajax({
        url: '/passwordReset',
          method: 'POST',
          data: {
             'password':resetPassword
          },
          success: function(data){
            if(data.msg=="success") {
            $('#resetForm').addClass("hide");
            $('#resetmsg').removeClass('hide');
            $('#successResetPassword').text('Password reset successfully');
            setTimeout(function(){
              $('#successResetPassword').text('');
              window.location.href='/' ;
            },2000);
           }
           else {
                $('#errorConirmResetPassword').text('Try Again');
           } 
          },
          dataType: 'JSON',
        });
       }
      }
    </script>
      

  </body>
</html>
